.list {
  padding: 20px 100px;
  position: relative;
  color: white;
}

.an {
  white-space: nowrap;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.movie {
  background-color: #000000;
  display: block !important;
  padding: 0 20px;
  width: 93% !important;
  color: white;
}

.movie a {
  text-decoration: none;
  padding: 20px 0;
  color: white;
}

.movie img {
  border-radius: 10px;
  background-size: cover;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.movie h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.movie p {
  margin-top: 0;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 2rem;
  cursor: pointer;
  color: black; /* You can change the color as per your design */
}

.next-arrow {
  right: 10px;
}

.prev-arrow {
  left: 10px;
}
